<div class="slds-combobox_container">
  <div class="slds-combobox slds-dropdown-trigger slds-dropdown-trigger_click" aria-expanded="false" aria-haspopup="listbox" role="combobox">
    <div class="slds-combobox__form-element slds-input-has-icon slds-input-has-icon_right" role="none">
      <input type="text" class="slds-input slds-combobox__input" id="combobox-unique-id" aria-autocomplete="list" aria-controls="listbox-unique-id" autocomplete="off" role="textbox" placeholder="Search Salesforce" />
      <span class="slds-icon_container slds-icon-utility-search slds-input__icon slds-input__icon_right">
        <svg class="slds-icon slds-icon slds-icon_x-small slds-icon-text-default" aria-hidden="true">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#search" />
        </svg>
      </span>
    </div>
    <div id="listbox-unique-id" role="listbox">
      <ul class="slds-listbox slds-listbox_vertical slds-dropdown slds-dropdown_fluid" role="presentation">
        <li role="presentation" class="slds-listbox__item">
          <span id="listbox-option-unique-id-01" class="slds-media slds-listbox__option slds-listbox__option_entity slds-listbox__option_has-meta" role="option">
            <span class="slds-media__figure">
              <span class="slds-icon_container slds-icon-standard-account" title="Description of icon when needed">
                <svg class="slds-icon slds-icon_small" aria-hidden="true">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#account" />
                </svg>
                <span class="slds-assistive-text">Description of icon</span>
              </span>
            </span>
            <span class="slds-media__body">
              <span class="slds-listbox__option-text slds-listbox__option-text_entity">Acme</span>
              <span class="slds-listbox__option-meta slds-listbox__option-meta_entity">Account • San Francisco</span>
            </span>
          </span>
        </li>
        <li role="presentation" class="slds-listbox__item">
          <span id="listbox-option-unique-id-02" class="slds-media slds-listbox__option slds-listbox__option_entity slds-listbox__option_has-meta" role="option">
            <span class="slds-media__figure">
              <span class="slds-icon_container slds-icon-standard-account" title="Description of icon when needed">
                <svg class="slds-icon slds-icon_small" aria-hidden="true">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#account" />
                </svg>
                <span class="slds-assistive-text">Description of icon</span>
              </span>
            </span>
            <span class="slds-media__body">
              <span class="slds-listbox__option-text slds-listbox__option-text_entity">Salesforce.com, Inc.</span>
              <span class="slds-listbox__option-meta slds-listbox__option-meta_entity">Account • San Francisco</span>
            </span>
          </span>
        </li>
      </ul>
    </div>
  </div>
</div>