@import 'ember-cli-lightning-design-system/scss/index.scss';

header.is-showing-banner {
  padding-top: 35px;
}

html,
body {
  height: 100%;
}

main {
  margin-top: 50px;
}

main.is-showing-banner {
  padding-top: 35px;
}

#container-examples {
  background: url(/assets/images/themes/oneSalesforce/banner-brand-default.png), linear-gradient(to top, rgba(221, 219, 218, 0) 0, #e8e8e8);
}