@import 'ember-cli-lightning-design-system/scss/index.scss';

header.is-showing-banner {
  padding-top: 35px;
}

html,
body {
  height: 100%;
  background-color: #DADFE5;
}

main {
  margin-top: 50px;
}

main.is-showing-banner {
  padding-top: 35px;
}
