{{#link-to path tagName='li' class="slds-nav-vertical__item" activeClass='slds-is-active'}}
  <a href={{view.href}} class="slds-nav-vertical__action" aria-describedby={{headerId}}>
    {{yield}}
  </a>
{{/link-to}}
