{{#link-to path tagName='li' activeClass='slds-is-active'}}
  <a href={{view.href}} class="slds-navigation-list--vertical__action slds-text-link--reset" aria-describedby={{headerId}}>
    {{yield}}
  </a>
{{/link-to}}
