<button class="slds-button slds-button--icon" title="settings">
  <svg class="slds-button__icon" aria-hidden="true">
    <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#settings"></use>
  </svg>
  <span class="slds-assistive-text">Settings</span>
</button>

<button class="slds-button slds-button--icon-error" title="Warning">
  <svg class="slds-button__icon" aria-hidden="true">
    <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#warning"></use>
  </svg>
  <span class="slds-assistive-text">Warning</span>
</button>

<button class="slds-button slds-button--icon" disabled="" title="settings">
  <svg class="slds-button__icon" aria-hidden="true">
    <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#settings"></use>
  </svg>
  <span class="slds-assistive-text">Settings</span>
</button>

<button class="slds-button slds-button--icon" title="settings">
  <svg class="slds-button__icon slds-button__icon--large" aria-hidden="true">
    <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#settings"></use>
  </svg>
  <span class="slds-assistive-text">Settings</span>
</button>

<button class="slds-button slds-button--icon-border slds-is-selected" aria-live="assertive" title="Liked">
  <svg class="slds-button__icon" aria-hidden="true">
    <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#like"></use>
  </svg>
  <span class="slds-assistive-text">Liked</span>
</button>