<div class="slds-grid slds-grid--pull-padded-medium slds-m-horizontal--x-small">
  <div class="slds-col slds-p-around--small">
    <div class="slds-box slds-box--small slds-theme--shade">
      <div class="slds-text-heading--large">Combobox/Lookup</div>

      {{#slds-control label='Lookup' as |control|}}
        {{control.lookup}}
      {{/slds-control}}

    </div>
  </div>
</div>