{{slds-input label='My Form Input' placeholder="some placeholder"}}

<hr/>

{{slds-textarea}}

<hr/>

<div class="slds-form--horizontal">
  
  {{slds-input label='My Form Input' placeholder="some placeholder"}}
  
  {{slds-textarea}}


  <fieldset class="slds-form-element">
    <legend class="slds-form-element__legend slds-form-element__label">Checkbox Group label</legend>
    <div class="slds-form-element__control">
      <label class="slds-checkbox" for="opportunities-ownership">
        <input type="checkbox" name="default" id="opportunities-ownership" />
        <span class="slds-checkbox--faux"></span>
        <span class="slds-form-element__label">All opportunities owned by you</span>
      </label>
      <label class="slds-checkbox" for="contact-ownership">
        <input type="checkbox" name="default" id="contact-ownership" />
        <span class="slds-checkbox--faux"></span>
        <span class="slds-form-element__label">All contacts in the account owned by you</span>
      </label>
    </div>
  </fieldset>
  <fieldset class="slds-form-element">
    <legend class="slds-form-element__legend slds-form-element__label">Radio Group label</legend>
    <div class="slds-form-element__control">
      <label class="slds-radio" for="lead">
        <input type="radio" name="options" id="lead" />
        <span class="slds-radio--faux"></span>
        <span class="slds-form-element__label">Lead Generation</span>
      </label>
      <label class="slds-radio" for="education">
        <input type="radio" name="options" id="education" />
        <span class="slds-radio--faux"></span>
        <span class="slds-form-element__label">Education Leads</span>
      </label>
    </div>
  </fieldset>
  <div class="slds-form-element">
    <div class="slds-form-element__control">
      <label class="slds-checkbox" for="agree">
        <input type="checkbox" name="default" id="agree" />
        <span class="slds-checkbox--faux"></span>
        <span class="slds-form-element__label">I agree to the Terms &amp; Service</span>
      </label>
    </div>
  </div>
</div>