{{#slds-media as |media|}}
  {{#media.figure}}
    <img src="/assets/images/avatar3.jpg" class="slds-avatar--large" alt="Placeholder" />
  {{/media.figure}}
  {{#media.body}}body{{/media.body}}
{{/slds-media}}

{{#slds-media alignment='center' as |media|}}
  {{#media.figure}}
    <img src="/assets/images/avatar3.jpg" class="slds-avatar--large" alt="Placeholder" />
  {{/media.figure}}
  {{#media.body}}body{{/media.body}}
{{/slds-media}}

{{#slds-media alignment='center' as |media|}}
  {{#media.figure}}
    <img src="/assets/images/avatar3.jpg" class="slds-avatar--large" alt="Placeholder" />
  {{/media.figure}}
  {{#media.body}}body{{/media.body}}
  {{#media.figure type='reverse'}}
    <img src="/assets/images/avatar3.jpg" class="slds-avatar--large" alt="Placeholder" />
  {{/media.figure}}
{{/slds-media}}

{{#slds-media alignment='center' as |media|}}
  {{#media.icon sprite='utility' icon='settings'}}
    <h2 class="slds-text-heading_small">Card Header</h2>
  {{/media.icon}}    
{{/slds-media}}