<button {{action (toggle "isExpanded" this)}}>Toggle Modal</button>

{{#if isExpanded}}
  {{#slds-modal close=(action (toggle "isExpanded" this)) as |modal|}}
    {{#modal-dialog close=modal.close targetAttachment="center"}}
      {{modal.container}}      
    {{/modal-dialog}}
  {{/slds-modal}}
{{/if}}