<button {{action (toggle "isExpanded" this)}}>Toggle Modal</button>

{{#if isExpanded}}
  {{#slds-modal close=(action (toggle "isExpanded" this)) as |modal|}}
    {{#modal-dialog onClose=modal.close targetAttachment="center"}}
      {{#modal.container as |container|}}
        {{container.header title='Awesome Header'}}
        {{container.content}}
        {{container.footer}}
      {{/modal.container}}      
    {{/modal-dialog}}
  {{/slds-modal}}
{{/if}}