<button {{action (toggle "isExpanded" this)}}>Toggle Modal</button>

{{#if isExpanded}}
  {{#slds-modal close=(action (toggle "isExpanded" this)) as |modal|}}
    {{#modal-dialog onClose=modal.close targetAttachment="center"}}
      {{#modal.container as |container|}}
        {{container.header title='Awesome Header'}}
        {{#container.content}}
          <p>
            Sit nulla est ex deserunt exercitation anim occaecat. Nostrud ullamco deserunt aute id consequat veniam incididunt duis in sint irure nisi. Mollit officia cillum Lorem ullamco minim nostrud elit officia tempor esse quis. Cillum sunt ad dolore
            quis aute consequat ipsum magna exercitation reprehenderit magna. Tempor cupidatat consequat elit dolor adipisicing.
          </p>
          <p>
            Dolor eiusmod sunt ex incididunt cillum quis nostrud velit duis sit officia. Lorem aliqua enim laboris do dolor eiusmod officia. Mollit incididunt nisi consectetur esse laborum eiusmod pariatur proident. Eiusmod et adipisicing culpa deserunt nostrud
            ad veniam nulla aute est. Labore esse esse cupidatat amet velit id elit consequat minim ullamco mollit enim excepteur ea.
          </p>
        {{/container.content}}
        {{container.footer}}
      {{/modal.container}}      
    {{/modal-dialog}}
  {{/slds-modal}}
{{/if}}