<section class="slds-popover slds-nubbin--left" role="dialog" aria-describedby="dialog-body-id-48">
  <div class="slds-popover__body" id="dialog-body-id-48">
    <p>Lorem ipsum dolor sit amet, consectetur <a href="javascript:void(0);">adipisicing elit</a>, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
</section>