<div class="slds-grid">
  <button class="slds-button slds-button--icon-border-filled slds-path__trigger slds-no-flex slds-m-horizontal--small" title="Open">
    <svg class="slds-button__icon" aria-hidden="true">
      <use xlink:href="assets/icons/utility-sprite/svg/symbols.svg#chevrondown"></use>
    </svg>
    <span class="slds-assistive-text">Open</span>
  </button>
  <div class="slds-tabs--path" role="application">
    <ul class="slds-tabs--path__nav" role="tablist">
      <li class="slds-tabs--path__item slds-is-complete" role="presentation">
        <a class="slds-tabs--path__link" id="tabs-path-121" aria-controls="content-path-1" aria-selected="false" tabindex="-1" role="tab" href="javascript:void(0);" aria-live="assertive">
          <span class="slds-tabs--path__stage">
            <svg class="slds-icon slds-icon--x-small" aria-hidden="true">
              <use xlink:href="assets/icons/utility-sprite/svg/symbols.svg#check"></use>
            </svg>
            <span class="slds-assistive-text">Stage Complete</span>
          </span>
          <span class="slds-tabs--path__title">Contacted</span>
        </a>
      </li>
      <li class="slds-tabs--path__item slds-is-complete" role="presentation">
        <a class="slds-tabs--path__link" id="tabs-path-122" aria-controls="content-path-1" aria-selected="false" tabindex="-1" role="tab" href="javascript:void(0);" aria-live="assertive">
          <span class="slds-tabs--path__stage">
            <svg class="slds-icon slds-icon--x-small" aria-hidden="true">
              <use xlink:href="assets/icons/utility-sprite/svg/symbols.svg#check"></use>
            </svg>
            <span class="slds-assistive-text">Stage Complete</span>
          </span>
          <span class="slds-tabs--path__title">Open</span>
        </a>
      </li>
      <li class="slds-tabs--path__item slds-is-complete" role="presentation">
        <a class="slds-tabs--path__link" id="tabs-path-123" aria-controls="content-path-1" aria-selected="false" tabindex="-1" role="tab" href="javascript:void(0);" aria-live="assertive">
          <span class="slds-tabs--path__stage">
            <svg class="slds-icon slds-icon--x-small" aria-hidden="true">
              <use xlink:href="assets/icons/utility-sprite/svg/symbols.svg#check"></use>
            </svg>
          </span>
          <span class="slds-tabs--path__title">Unqualified</span>
        </a>
      </li>
      <li class="slds-tabs--path__item slds-is-complete" role="presentation">
        <a class="slds-tabs--path__link" id="tabs-path-124" aria-controls="content-path-1" aria-selected="false" tabindex="-1" role="tab" href="javascript:void(0);" aria-live="assertive">
          <span class="slds-tabs--path__stage">
            <svg class="slds-icon slds-icon--x-small" aria-hidden="true">
              <use xlink:href="assets/icons/utility-sprite/svg/symbols.svg#check"></use>
            </svg>
          </span>
          <span class="slds-tabs--path__title">Nurturing</span>
        </a>
      </li>
      <li class="slds-tabs--path__item slds-is-complete slds-is-won" role="presentation">
        <a class="slds-tabs--path__link" id="tabs-path-125" aria-controls="content-path-1" aria-selected="false" tabindex="-1" role="tab" href="javascript:void(0);" aria-live="assertive">
          <span class="slds-tabs--path__stage">
            <svg class="slds-icon slds-icon--x-small" aria-hidden="true">
              <use xlink:href="assets/icons/utility-sprite/svg/symbols.svg#check"></use>
            </svg>
          </span>
          <span class="slds-tabs--path__title">Closed Won</span>
        </a>
      </li>
    </ul>
  </div>
  <button class="slds-button slds-button--brand slds-path__mark-complete slds-no-flex slds-m-horizontal--small">Change Closed State</button>
</div>