<button class="slds-button slds-button--brand">Button Brand</button>


<button class="slds-button slds-button--neutral">
  <svg class="slds-button__icon slds-button__icon--left" aria-hidden="true">
    <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#download"></use>
  </svg>Button Neutral
</button>

{{yield}}
