<div class="slds-button-group" role="group">
    {{yield (hash 
        button=(component 'lds-button' type='neutral') 
        menu=(component 'lds-menu' position='topRight' class='slds-button--last')
    )}}
</div>