<label class="slds-form-element__label" for="textarea-input-01">Textarea Label</label>
<div class="slds-form-element__control">
  <textarea id="textarea-input-01" class="slds-textarea" placeholder="Placeholder Text"></textarea>
</div>