<span class="slds-icon_container slds-icon-{{sprite}}-{{icon}}" title="description of icon when needed">
  <svg class="slds-icon" aria-hidden="true">
    <use xlink:href="/assets/icons/{{sprite}}-sprite/svg/symbols.svg#{{icon}}"></use>
  </svg>
  <span class="slds-assistive-text">Description of icon</span>
</span>