{{!--<div class="slds-dropdown-trigger slds-dropdown-trigger--click slds-button--last{{openClass}}" aria-expanded="false">
  <button 
    class="slds-button slds-button--icon-border-filled" 
    disabled={{disabled}}  
    aria-haspopup="true" 
    title="More Actions"
    {{action 'toggleOpen'}}>
    
    <svg class="slds-button__icon" aria-hidden="true">
      <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#down"></use>
    </svg>
    <span class="slds-assistive-text">More Actions</span>
  </button>

  <div class="slds-dropdown slds-dropdown--right">
    <ul class="slds-dropdown__list" role="menu">
      {{yield (hash 
        item=(component 'lds-button-group-more-item' _clicked=(action 'clicked'))
      )}}
    </ul>
  </div>
</div>--}}
