<label class="slds-form-element__label" for="{{formElementId}}">{{label}}</label>
<div class="slds-form-element__control">
  <input type="text" id="{{formElementId}}" class="slds-input" placeholder="{{placeholder}}" />
</div>
