{{#link-to path tagName='li' class='slds-context-bar__item' activeClass='slds-is-active'}}
  <a href={{view.href}} class="slds-context-bar__label-action" title={{text}}>
    <span class="slds-truncate">{{text}}</span>
  </a>
{{/link-to}}
