<li role="presentation">
  <span class="slds-lookup__item-action slds-media" id="lookup-option-490" role="option">
    <svg class="slds-icon slds-icon-standard-account slds-icon--small slds-media__figure" aria-hidden="true">
      <use xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#account"></use>
    </svg>
    <div class="slds-media__body">
      <div class="slds-lookup__result-text">{{text}}</div>
      <span class="slds-lookup__result-meta slds-text-body--small">{{meta}}</span>
    </div>
  </span>
</li>