<li class="slds-dropdown__item" role="presentation">
  <a role="menuitem" tabindex="0" {{action 'clicked' _clicked clicked}}>
    <span class="slds-truncate">
      {{#if hasBlock}}
        {{yield}}
      {{else}}
        {{text}}
      {{/if}}
    </span>
  </a>
</li>