  <div class="slds-dropdown{{positionClass}}">
    <ul class="slds-dropdown__list" role="menu">
      {{yield (hash 
        header=(component 'lds-dropdown-header')
        item=(component 'lds-dropdown-item' _clicked=clicked)
        separator=(component 'lds-dropdown-separator'))}}
    </ul>
  </div>