  <div class="slds-dropdown{{positionClass}}">
    <ul class="slds-dropdown__list" role="menu">
      {{yield (hash 
        heading=(component 'lds-menu-heading')
        item=(component 'lds-menu-item' _clicked=clicked)
        separator=(component 'lds-menu-separator'))}}
    </ul>
  </div>