<article class="slds-card">
  <div class="slds-card__header slds-grid">
    {{#slds-media alignment='center' tagName='header' class='slds-has-flexi-truncate' as |media|}}
      {{#media.figure}}
        <span class="slds-icon_container slds-icon-standard-contact" title="description of icon when needed">
          <svg class="slds-icon slds-icon--small" aria-hidden="true">
            <use xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#contact"></use>
          </svg>
        </span>
      {{/media.figure}}
      {{#media.body}}
        <h2>
          <a href="javascript:void(0);" class="slds-card__header-link slds-truncate">
            <span class="slds-text-heading--small">Card Header</span>
          </a>
        </h2>
      {{/media.body}}
    {{/slds-media}}
    <div class="slds-no-flex">
      {{slds-button text='New' type='neutral'}}
    </div>
  </div>
  <div class="slds-card__body"></div>
  <div class="slds-card__footer"></div>
</article>