<div class="slds-grid slds-path__track">
    <div class="slds-grid slds-path__scroller-container">
      <button class="slds-button slds-button_icon slds-button_icon-border-filled slds-path__trigger" title="Expand Sales Coaching Tab Panels">
        <svg class="slds-button__icon" aria-hidden="true">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevrondown" />
        </svg>
        <span class="slds-assistive-text">Expand Sales Coach Tab Panels</span>
      </button>
      <div class="slds-path__scroller" role="application">
        <div class="slds-path__scroller_inner">
          <ul class="slds-path__nav" role="tablist">
            <li class="slds-path__item slds-is-complete" role="presentation">
              <a aria-controls="path-content-1" aria-expanded="false" aria-selected="false" class="slds-path__link" href="javascript:void(0);" id="path-1" role="tab" tabindex="-1">
                <span class="slds-path__stage">
                  <svg class="slds-icon slds-icon_x-small" aria-hidden="true">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#check" />
                  </svg>
                  <span class="slds-assistive-text">Stage Complete</span>
                </span>
                <span class="slds-path__title">Contacted</span>
              </a>
            </li>
            <li class="slds-path__item slds-is-complete" role="presentation">
              <a aria-controls="path-content-2" aria-expanded="false" aria-selected="false" class="slds-path__link" href="javascript:void(0);" id="path-2" role="tab" tabindex="-1">
                <span class="slds-path__stage">
                  <svg class="slds-icon slds-icon_x-small" aria-hidden="true">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#check" />
                  </svg>
                  <span class="slds-assistive-text">Stage Complete</span>
                </span>
                <span class="slds-path__title">Open</span>
              </a>
            </li>
            <li class="slds-path__item slds-is-current slds-is-active" role="presentation">
              <a aria-controls="path-content-3" aria-expanded="false" aria-selected="true" class="slds-path__link" href="javascript:void(0);" id="path-3" role="tab" tabindex="0">
                <span class="slds-path__stage">
                  <svg class="slds-icon slds-icon_x-small" aria-hidden="true">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#check" />
                  </svg>
                  <span class="slds-assistive-text">Current Stage:</span>
                </span>
                <span class="slds-path__title">Unqualified</span>
              </a>
            </li>
            <li class="slds-path__item slds-is-incomplete" role="presentation">
              <a aria-controls="path-content-4" aria-expanded="false" aria-selected="false" class="slds-path__link" href="javascript:void(0);" id="path-4" role="tab" tabindex="-1">
                <span class="slds-path__stage">
                  <svg class="slds-icon slds-icon_x-small" aria-hidden="true">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#check" />
                  </svg>
                </span>
                <span class="slds-path__title">Nurturing</span>
              </a>
            </li>
            <li class="slds-path__item slds-is-incomplete" role="presentation">
              <a aria-controls="path-content-5" aria-expanded="false" aria-selected="false" class="slds-path__link" href="javascript:void(0);" id="path-5" role="tab" tabindex="-1">
                <span class="slds-path__stage">
                  <svg class="slds-icon slds-icon_x-small" aria-hidden="true">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#check" />
                  </svg>
                </span>
                <span class="slds-path__title">Closed</span>
              </a>
            </li>
          </ul>
          <div class="slds-path__scroll-controls">
            <button class="slds-button slds-button_icon slds-button_icon-border-filled" tabindex="-1" title="Scroll left">
              <svg class="slds-button__icon" aria-hidden="true">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#left" />
              </svg>
              <span class="slds-assistive-text">Scroll left</span>
            </button>
            <button class="slds-button slds-button_icon slds-button_icon-border-filled" tabindex="-1" title="Scroll right">
              <svg class="slds-button__icon" aria-hidden="true">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#right" />
              </svg>
              <span class="slds-assistive-text">Scroll right</span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="slds-grid slds-path__action">
      <span class="slds-path__stage-name">Stage: Unqualified</span>
      <button class="slds-button slds-button_brand slds-path__mark-complete">
        <svg class="slds-button__icon slds-button__icon_left" aria-hidden="true">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#check" />
        </svg>Mark Status as Complete</button>
    </div>
  </div>
  <div aria-labelledby="path-1" class="slds-path__content slds-hide" id="path-content-1" role="tabpanel">
    <h2>Path 1 Content</h2>
  </div>
  <div aria-labelledby="path-2" class="slds-path__content slds-hide" id="path-content-2" role="tabpanel">
    <h2>Path 2 Content</h2>
  </div>
  <div aria-labelledby="path-3" class="slds-path__content slds-hide" id="path-content-3" role="tabpanel">
    <h2>Path 3 Content</h2>
  </div>
  <div aria-labelledby="path-4" class="slds-path__content slds-hide" id="path-content-4" role="tabpanel">
    <h2>Path 4 Content</h2>
  </div>
  <div aria-labelledby="path-5" class="slds-path__content slds-hide" id="path-content-5" role="tabpanel">
    <h2>Path 5 Content</h2>
  </div>