<div class="slds-popover slds-popover--tooltip slds-nubbin--bottom" role="tooltip" id="step-3-tooltip" style="position:absolute;top:150px;left:calc(50% + 7px);transform:translateX(-50%);">
  <div class="slds-popover__body">Verify Email</div>
</div>