{{#slds-control-identity as |formElementId errorElementId|}}
  <legend class="slds-form-element__legend slds-form-element__label">
    {{#if isRequired}}
      <abbr class="slds-required" title="required">*</abbr>
    {{/if}}
    {{legend}}
  </legend>

  <div class="slds-form-element__control">
    {{yield (hash 
      radio=(component 'slds-control-group/radio' name=name errorElementId=errorElementId isError=isError)
      radio-button=(component 'slds-control-group/radio-button' name=name errorElementId=errorElementId isError=isError)
      checkbox=(component 'slds-control/checkbox' name=name errorElementId=errorElementId isError=isError)
      checkbox-button=(component 'slds-control-group/checkbox-button' name=name errorElementId=errorElementId isError=isError)
    )}}
  </div>

  {{#if isError}}
    <div id={{errorElementId}} class="slds-form-element__help">{{errorMessage}}</div>
  {{/if}}
{{/slds-control-identity}}