<span class="slds-checkbox">
  <input type="checkbox" name="options" id="checkbox-154" checked="" />
  <label class="slds-checkbox__label" for="checkbox-154">
    <span class="slds-checkbox--faux"></span>
    <span class="slds-form-element__label">Checkbox Label</span>
  </label>
</span>