<li class="slds-progress__item{{stateClass}}">
  {{#if hasIcon}}
    {{slds-button-icon 
      sprite='utility' 
      icon=icon 
      title=text 
      type='progress'
      clicked=clicked}}
  {{else}}
    {{#slds-button type='progress' clicked=clicked}}
      <span class="slds-assistive-text">{{text}}</span>
    {{/slds-button}}
  {{/if}}
</li>