<li class="slds-context-bar__item slds-context-bar__dropdown-trigger slds-dropdown-trigger slds-dropdown-trigger--hover"
  aria-haspopup="true">
  <a href="javascript:void(0);" class="slds-context-bar__label-action" title="Menu Item">
    <span class="slds-truncate">{{text}}</span>
  </a>
  <div class="slds-context-bar__icon-action slds-p-left--none" tabindex="0">
    <button class="slds-button slds-button--icon slds-context-bar__button" tabindex="-1" title="Open menu item submenu">
      <svg class="slds-button__icon" aria-hidden="true">
        <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevrondown"></use>
      </svg>
      <span class="slds-assistive-text">Open menu item submenu</span>
    </button>
  </div>
  
  {{#slds-dropdown clicked=(action 'clicked') as |dropdown|}}
    {{yield dropdown}}
  {{/slds-dropdown}}

</li>