<span class="slds-assistive-text">{{theme}}</span>

{{slds-icon 
  sprite='utility' 
  icon=theme 
  class='slds-m-right_small slds-no-flex slds-align-top' 
  size='small'}}

<div class="slds-notify__content">  
  {{yield}}
</div>

{{slds-button-icon 
  icon='close' 
  size='large' 
  type='inverse' 
  class='slds-notify__close' 
  title='Close' 
  clicked=closed}}