<span class="slds-pill">
  {{#if hasBlock}}
    {{yield (hash
      icon=(component 'slds-icon' sprite='standard' icon='account' text='Account' class='slds-pill__icon_container')
      button=(component 'slds-button-icon' icon='close' class='slds-pill__remove' title='Remove')
      )
      label
    }}  
  {{else}}
    <a href="javascript:void(0);" class="slds-pill__label" title="Full pill label verbiage mirrored here">{{label}}</a>
    {{slds-button-icon icon='close' class='slds-pill__remove' title='Remove'}}
  {{/if}}
</span>