<div class="slds-form-element__control">
  <span class="slds-radio">
    <input type="radio" id="radio-33" name="options" disabled="" />
    <label class="slds-radio__label" for="radio-33">
      <span class="slds-radio--faux"></span>
      <span class="slds-form-element__label">Radio Label One</span>
    </label>
  </span>
</div>