<span class="slds-pill">
  <a href="javascript:void(0);" class="slds-pill__label" title="Full pill label verbiage mirrored here">Pill Label</a>
  
  {{slds-button-icon icon='close' class='slds-pill__remove'}}
  
  {{!--<button class="slds-button slds-button--icon slds-pill__remove" title="Remove">
    <svg class="slds-button__icon" aria-hidden="true">
      <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close"></use>
    </svg>
    <span class="slds-assistive-text">Remove</span>
  </button>--}}
</span>