<div class="slds-page-header">
    <div class="slds-grid">
        <div class="slds-col slds-has-flexi-truncate">
            <div class="slds-media slds-no-space slds-grow">
                <div class="slds-media__figure">
                    <svg class="slds-icon slds-icon-standard-user" aria-hidden="true">
                        <use xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#user"></use>
                    </svg>
                </div>
                <div class="slds-media__body">
                    <p class="slds-text-title--caps slds-line-height--reset">Record Type</p>
                    <h1 class="slds-page-header__title slds-m-right--small slds-align-middle slds-truncate" title="this should match the Record Title">Record Title</h1>
                </div>
            </div>
        </div>
        <div class="slds-col slds-no-flex slds-grid slds-align-top">
            {{slds-button-stateful}}

            {{#slds-button-group as |group|}}
                {{#group.button}}Edit{{/group.button}}
                {{#group.button}}Delete{{/group.button}}
                {{#group.button}}Clone{{/group.button}}
            {{/slds-button-group}}

        </div>
    </div>
    <ul class="slds-grid slds-page-header__detail-row">
        <li class="slds-page-header__detail-block">
            <p class="slds-text-title slds-truncate slds-m-bottom--xx-small" title="Field 1">Field 1</p>
            <p class="slds-text-body--regular slds-truncate" title="Description that demonstrates truncation with a long text field">Description that demonstrates truncation with a long text field.</p>
        </li>
        <li class="slds-page-header__detail-block">
            <p class="slds-text-title slds-truncate slds-m-bottom--xx-small" title="Field2 (3)">Field 2 (3)
                <button class="slds-button slds-button--icon" aria-haspopup="true" title="More Actions">
          <svg class="slds-button__icon slds-button__icon--small" aria-hidden="true">
            <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#down"></use>
          </svg>
          <span class="slds-assistive-text">More Actions</span>
        </button>
            </p>
            <p class="slds-text-body--regular">Multiple Values</p>
        </li>
        <li class="slds-page-header__detail-block">
            <p class="slds-text-title slds-truncate slds-m-bottom--xx-small" title="Field 3">Field 3</p><a href="javascript:void(0);">Hyperlink</a></li>
        <li class="slds-page-header__detail-block">
            <p class="slds-text-title slds-truncate slds-m-bottom--xx-small" title="Field 4">Field 4</p>
            <p>
                <span title="Description (2-line truncation—must use JS to truncate).">Description (2-line truncat...</span>
            </p>
        </li>
    </ul>
</div>