<li role="presentation">
  <span class="slds-lookup__item-action slds-lookup__item-action--label" id="lookup-option-504" role="option">
    <svg class="slds-icon slds-icon--x-small slds-icon-text-default" aria-hidden="true">
      <use xlink:href="assets/icons/utility-sprite/svg/symbols.svg#{{icon}}"></use>
    </svg>
    <span class="slds-truncate" title="{ props.text || &#x27;{{text}}&#x27; }">{{text}}</span>
  </span>
</li>