{{slds-global-header}}

<div>
{{slds-navigation-bar}}
</div>

<hr/>

<hr/>

{{slds-page-header}}

<hr/>

{{slds-button-stateful 
    isSelected=isFollowing
    notSelected='Follow' 
    selected='Following' 
    selectedFocus='Unfollow'
    onChanged=(action 'statefulButtonPressed')}}
