{{lds-global-header}}

<div>
{{lds-navigation-bar}}
</div>

<hr/>

<hr/>

{{lds-page-header}}

<hr/>

{{lds-button-stateful 
    isSelected=isFollowing
    notSelected='Follow' 
    selected='Following' 
    selectedFocus='Unfollow'
    onChanged=(action 'statefulButtonPressed')}}
