<span class="slds-button slds-radio_button">
  <input type="radio" name="radio" id="monday">
  <label class="slds-radio_button__label" for="monday">
    <span class="slds-radio_faux">Mon</span>
  </label>
</span>
<span class="slds-button slds-radio_button">
  <input type="radio" name="radio" id="tuesday">
  <label class="slds-radio_button__label" for="tuesday">
    <span class="slds-radio_faux">Tue</span>
  </label>
</span>
<span class="slds-button slds-radio_button">
  <input type="radio" name="radio" id="wednesday">
  <label class="slds-radio_button__label" for="wednesday">
    <span class="slds-radio_faux">Wed</span>
  </label>
</span>
<span class="slds-button slds-radio_button">
  <input type="radio" name="radio" id="thursday">
  <label class="slds-radio_button__label" for="thursday">
    <span class="slds-radio_faux">Thu</span>
  </label>
</span>
<span class="slds-button slds-radio_button">
  <input type="radio" name="radio" id="friday">
  <label class="slds-radio_button__label" for="friday">
    <span class="slds-radio_faux">Fri</span>
  </label>
</span>
